h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #424874;
    padding: 20px;
}
.image-place{
  display: inline-block;
  position: relative;
 
}

.border {
  border: 1px solid #424874;
  border-width: thick;
  border-radius: 5%;
}


#result {
  border: 1px solid #424874;
  border-width: thick;
  border-radius: 5%;
}

#accuracy {
  border: 1px solid #424874;
  border-width: thick;
  border-radius: 5%;
}




#drawing-direction{
  position: fixed;
  right: 2em;
}

#drawing-board{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 50px 30px 30px 30px;
}

#user-image{
  width: 600px;
  height: auto;
  margin: auto;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
}




#drawing-board {
  border: 1px black;
}

.result-return{
  height: 45%;
  text-align: center;
  padding-top: 5px;
  margin: 5px;
}

body {
    font-family: "Helvetica", sans-serif;
}

#upload-button{
  color: #f4eeff;
  background-color: #424874;
}

#predict-button{
  color: white;
  background-color: #c02739;
}

#draw-button{
  color: #f4eeff;
  background-color: #424874;
}